{% extends "branches/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container py-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">ویرایش اطلاعات شعبه: {{ branch.name }}</h5>
        </div>
        <div class="card-body">
            {# شروع فرم ویرایش اصلی #}
            <form method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label">{{ field.label }}</label>

                        {% if field.field.widget|default:''|stringformat:"s" == 'CheckboxSelectMultiple' %}
                            <div class="form-check">
                                {% for checkbox in field %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label">{{ checkbox.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if field.name == 'install_date' or field.name == 'last_battery_installed_date' %}
                                {{ field|attr:"data-jdp" }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endif %}

                        {% if field.errors %}
                            <div class="form-text text-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-start gap-2 mt-4"> {# justify-content-start برای چیدمان بهتر دکمه‌ها #}
                    <button type="submit" class="btn btn-success">ذخیره</button>

                    <a href="{% url 'branch_list' %}" class="btn btn-outline-secondary">بازگشت</a>
                </div>
            </form>

            <div>

                 <form action="{% url 'delete_branch' branch.pk %}" method="post" onsubmit="return confirm('آیا از حذف شعبه {{ branch.name }} مطمئن هستید؟');" class="mt-3"> {# mt-3 برای فاصله از فرم بالایی #}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">حذف شعبه</button>
                 </form>
            </div>
            {# پایان فرم حذف #}
        </div>
    </div>
</div>



{% endblock %}